header.header
    .header__wrapper
        .header__column
            a(href=`/`) 
                i.fas.fa-home
                span        홈으로가기
        .header__column
            form(action="/search", method="get")
                input(type="text", placeholder="Search by term...", name="term")
        .header__column
            ul
                if !loggedUser
                    li
                        a(href='/join') Join
                    li
                        a(href='/login') Log In
                else
                    li
                        a(href=`/profile/${loggedUser.id}`) #{loggedUser.name}
                    li
                        form(action="/logout" method="post")
                            input(type="submit" value="logout")