.social-login
    button.social-login--github
        a(href="/auth/github")
            span
                i.fab.fa-github
            |Continue with Github
    button.social-login--google
        a(href="/auth/google")
            span
                i.fab.fa-google
            |Continue with Google