extends layouts/main

block content
    .nations__container
        .nation
            span 
                a(href="/board/korea/pg1")  국내
        .nation
            span 
                a(href="/board/middle-east/pg1")    중동
        .nation
            span 
                a(href="/board/oceania/pg1")    오세아니아
        .nation
            span 
                a(href="/board/southeast-asian/pg1")    동남아시아
        .nation
            span 
                a(href="/board/afreeca/pg1")    아프리카
        .nation
            span 
                a(href="/board/europe/pg1") 유럽
        .nation
            span 
                a(href="/board/america/pg1")    미주

