extends layouts/main

block content
    body
        h5 수정
    table
        tr
            td= rows[0].name
            td= rows[0].email
            td= rows[0].avatarUrl
            td= rows[0].subject