extends layouts/main

block content
    .write__container
        form(method="post" action="/write")
            input(class="subject" type="text" name="subject" placeholder="title" required=true)
            select(name="nation" required=true)
                option(value="korea") 국내
                option(value="israel") 이스라엘
                option(value="bangladesh") 방글라데시
                option(value="india") 인도
                option(value="cambodia") 캄보디아
                option(value="vietnam") 베트남
                option(value="taiwan") 대만
                option(value="guam") 괌
                option(value="austrailia") 호주
                option(value="hongkong") 홍콩
            textarea(id="editor1" name="content" placeholder="content" required=true)
            <script>CKEDITOR.replace( 'editor1' )</script>
            input(type="submit")